# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug symbols
*.pdb

#MSVS
Debug/
x64/
.vs/
*.ilk 
*.idb 
*.tlog
*.user


#CLion
.idea/
cmake-build-*/
B_1/str_to_arr.cpp
B_2/B_2/numbers_oop_11.txt
B_2/B_2/oop_11_out.txt
B_2/B_2/less_sqr2_new.txt
B_2/B_2/more_sqr2_new.txt
B_2/B_2/oop_11_out_new.txt
B_2/B_2/test.cpp
*.bin
